{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "DB_HOST": "<your-mysql-server>.mysql.database.azure.com",
    "DB_PORT": "3306",
    "DB_USER": "<admin-username>",
    "DB_PASSWORD": "<admin-password>",
    "DB_NAME": "bookmyshow"
  }
}
